*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:6px;
}
body{
    font-family: 'Lato', sans-serif;
    font-size:1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:#fff;
}
.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col{
    float:left;
    width:100%;
    padding: 1px;
}

#about-text .left{
    float:none;
    width: 100%;
    padding-right: 25px;
    padding-left: 5px;
}
#about-text .right{
    float:none;
    width: 100%;
    padding-left: 5px;
    padding-right: 25px;
}
@media (min-width:576px) {
    .container{
        max-width: 540px;
    }
    html{
        font-size:7px;
    }
}
@media (min-width:768px) {
    .container{
        max-width: 720px;
    }
    html{
        font-size:8px;
    }
    .col{
        width:33.33%;
        padding: 5px;
    }
    #portfolio .col{
        width:50%;
        padding: 5px;
    }
    #about-text .left{
        float:left;
        width: 50%;
        padding-right: 1rem;
        padding-left: 11rem;
    }
    #about-text .right{
        float:left;
        width: 50%;
        padding-left: 1rem;
        padding-right: 11rem;
    }
}
@media (min-width:982px) {
    .container{
        max-width: 950px;
    }
    html{
        font-size:9px;
    }
}
@media (min-width:1200px) {
    .container{
        max-width: 1140px;
    }
    html{
        font-size:10px;
    }
    .col{
        width:33.33%;
        padding: 9px;
    }
    
    #about-text .left{
        float:left;
        width: 50%;
        padding-right: 2rem;
        padding-left: 23rem;
    }
    #about-text .right{
        float:left;
        width: 50%;
        padding-left: 2rem;
        padding-right: 23rem;
    }
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.text-uppercase{
    text-transform: uppercase;
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
.img-fluid{
    max-width: 256px;
    height:auto;

}
h1, h2, h3, h4, h5, h6{
    font-weight:700;
    font-family:Montserrat;
}
.btn-large{
    font-size:2rem;
    padding:2.2rem 1.6rem;
}
.btn{
    margin-top:2rem;
    font-weight: 400;
    display:inline-block;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.btn-social{
    width:5rem;
    height:5rem;
    float:left;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}
.btn-primary{
    padding:2.2rem 3rem;
    color:#fff;
    border-color: #1abc9b;
    background: #1abc9b;
    float: left;
    margin-left:16rem;
}
.btn-primary:hover{
    background-color:#128870;
    border-color: #128870;
}
.btn-outline{
    color:#fff;
    border-color: #fff;
    background: transparent;
}
.btn-outline:hover{
    color:#212529;
    background-color: #fff;
}
section{
    padding-top:10rem;
    padding-bottom: 10rem;
    text-align: center;
}

/*NavBar*/
nav{
    position: fixed;
    width:100%;
    font-family:Montserrat;
    background-color: #2C3E4F;
    color:#fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index:1000;
}
#logo-box{
    float: left;
    padding-top:0.5;
}
#logo-box .logo{
    color:#fff;
    font-weight: 700;
    font-size: 2.8rem;
}
#nav-links{
    float: right;
}
#nav-links .nav-item{
    float: left;
    margin: 0.5rem;
}
#nav-links .nav-link{
    color:#fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding:1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover{
    color:#1abc9b;
}

#nav-links .nav-icon{
    display:none;
}
@media (max-width:992px) {
    #logo-box{
        float:none;
        text-align: left;
    }
    #nav-links{
        float:none;
    }

    #nav-links .nav-link{
        font-size: 2rem;
        padding-left:0;
    }
    #nav-links .nav-item{
        float:none;
        text-align: left;
    }
    #nav-links .nav-icon{
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size:3rem;
    }
    #nav-links.responsive li:not(:last-child){
        display:none;
    }
}
/* header */
header{
    background-color:#1abc9b;
    height:700px;
    padding-top:calc(106px + 7rem);
    text-align: center;
}

header h1{
    color:#fff;
    font-size:6rem;
    
}
header h2{
    color:#fff;
    font-size:2.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
hr.star-light{
    border-color: #fff;
}
hr.star-dark{
    border-color: #2d3d4F;
}
.star-light, .star-dark{
    border: none;
    border-top: 0.4rem solid ;
    max-width: 25rem;
    border-radius: 10px;
    margin:2.5rem auto;
    overflow: visible;
    height: 0;
}
.star-dark::after{
    color:#2d3d4F;
    background-color:#fff;
}
.star-light::after{
    color:#fff;
    background-color:#1abc9b;
}
.star-light::after, .star-dark::after{
    position: relative;
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    top: -28px;
    padding:0 8px;

}

/*   Portfolio   */ 
#portfolio h2{
    font-size:4.8rem;
    color:#2d3d4F;
}

.img-fluid-p{
    max-width: 100%;
    height:auto;
}
.portfolio-item{
    position: relative;
    
}
.portfolio-item img{
    display: block;
    border-radius: 10px;
}
.img-overlay{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:#1abc9b;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.4s;
}
.img-overlay .icon{
    color:#fff;
    font-size:8rem;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.portfolio-item:hover .img-overlay{
    opacity:0.8;
}

/* about */

#about{
    background-color:#1abc9b;
    color:#fff;
    width:100%;
}
#about h2{
    font-size:4.8rem;
}
#about-text{
    text-align:left;
}
#about-text .text{
    font-size:2rem;
}
#contact h2{
    font-size:4.8rem;
    color:#2d3d4F;
}

/* Contact Form */

#contact-form{
    width:70%;
    margin:0 auto;
    text-align: left;
}
.form-group{
    border-bottom: 1px solid #e9ecefb7;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.form-group input,.form-group textarea{
    border:none;
    width:100%;
    display:block;
    font-size:2.4rem;
}
.form-group input:focus,.form-group textarea:focus{
    outline: none;
}

/* Footer */
footer{
    margin-top:8rem;
    padding-top:8rem;
    padding-bottom:8rem;
    text-align: center;
    background-color: #2d3d4F;
    color:#fff;
}
footer h4{
    font-size:2.4rem;
}
footer p{
    font-size:2rem;
    margin-top:1rem;
}
footer li{
    display: inline-block;
    margin-right:10px;
}
footer a{
    color:#1abc9b;
}
.copyright{
    background-color:#19262F;
    padding-top:2.4rem;
    padding-bottom: 2.4rem;
    color:#fff;
    text-align: center;
}
